@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);    
    background-image: url("https://images.wallpaperscraft.ru/image/single/linii_temnyy_fon_marshrut_karta_63533_1280x720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container-fluid{
    background-color: black;
    max-height: 15vmin;
    text-align: center;
    font-size: 8vmin;
    color: white;
    font-weight: bold;
    padding: 1vmin;
    font-family: 'Dancing Script';
    text-shadow: 5px 1px 2px rgba(182, 145, 24, 0.527);
}
.container:hover{
    background-color: rgba(255, 255, 255, 0.744);
    box-shadow: 0 0 20px rgba(182, 145, 24, 0.527);
}
img{
    width: 85%;
    border: 3px rgba(163, 128, 0, 0.467) solid;
    border-radius: 1vmin;
}
.tuna {
    animation: walk-cycle 1s steps(12) infinite;
    background: url("imgs\\tuna.png") 0 0 no-repeat; 
    height: 200px;
    width: 400px;
    position: fixed;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    transform: translateZ(0);
}
@keyframes walk-cycle {  
    0% {background-position: 0 0; } 
    100% {background-position: 0 -2391px; } 
}
.foreground, .midground, .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    translate: 3d(0,0,0); 
} 
.foreground {
    animation: parallax_fg linear 10s infinite both;
    background: url("imgs\\foreground.png") 0 100% repeat-x;
    z-index: 3;
}
@keyframes parallax_fg {  
    0% { background-position: -3584px 100%;} 
    100% {background-position: 0 100%; } 
}
.midground {
    animation: parallax_mg linear 20s infinite;
    background: url("imgs\\midground.png") 0 100% repeat-x;
    z-index: 2;
}
@keyframes parallax_mg {  
    0% { background-position: -3000px 100%;} 
    100% {background-position: 0 100%; } 
}
.background {
    background-image:
      url("imgs\\mountain5.png"),
      url("imgs\\mountain4.png"),
      url("imgs\\mountain3.png"),
      url("imgs\\mountain2.png"),
      url("imgs\\mountain1.png");
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 40s infinite;
}
@keyframes parallax_bg {
    100% { background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;}
}
.area {
  text-align: center;
  font-size: 12vmin;
  margin: 8% auto 0;
  color: rgba(0, 0, 0, 0.578);
  font-family: "Open Sans",  Impact;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 1s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

@media (orientation: landscape){
    .container{
        display: flexbox;
        justify-content: center;
        text-align: center;
        font-size: 3.5vmin;
        background-color: rgba(255, 255, 255, 0.542);
        border-radius: 3vmin;
        margin: 2vmin 3vmin 0;
        padding: 2vmin;
        color: black;
    }
    .divImgs{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2.5vmin;
        align-items: center;
        position: relative;
    }
}
@media (orientation: portrait){
    .container{
        display: flexbox;
        justify-content: center;
        text-align: center;
        font-size: 4vmin;
        background-color: rgba(255, 255, 255, 0.542);
        border-radius: 3vmin;
        margin: 2vmin auto 0;
        padding: 2vmin;
        color: black;
        max-width: 85%;
    }
    .divImgs{
        display: flexbox;
        justify-content: center;
        margin-top: 2.5vmin;
        align-items: center;
        position: relative;
    }
}
